# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env
.venv/
conda-env/
qrcode/

# Git
.git/
.gitignore

# Docker
Dockerfile
.dockerignore

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# IDEs
.vscode/
.idea/

# Node (if ever added)
node_modules/
