body {
    font-family: Arial;
    background: #f4f6f8;
}

.container {
    width: 420px;
    margin: 60px auto;
    background: white;
    padding: 25px;
    border-radius: 12px;
    text-align: center;
}

input,
button {
    width: 100%;
    margin: 8px 0;
    padding: 10px;
}

img {
    width: 180px;
    margin: 10px;
}

.history img {
    width: 80px;
}

.error {
    color: red;
}